<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>super buddy. this is an event scheduling site</p>
        <p>super buddy. this is an event scheduling site</p>
        <p>super buddy. this is an event scheduling site</p>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>