<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="create-event content">
        <form>
            <label for="title">Event title:</label>
            <input type="text" id="title" required>
            <label for="snippet">Event snippet:</label>
            <input type="text" id="snippet" required>
            <label for="body">Event body:</label>
            <textarea id="body" required></textarea>
            <label for="date">Add due date:</label>
            <input type="date" id="date" required>
            <button>Submit</button>
        </form>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>